<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css"><%%- cssText %></style>
</head>
<body>
<h3>server render</h3>
<div id="root"><%%- appString %></div>
<script>
    window.__INITIAL__STATE__ = <%%- initialState %>
</script>
</body>
</html>
