<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<link href="/assets/css/0.8e27bbad73d32c7399dd.css" rel="stylesheet"></head>
<body>
<h3>server render</h3>
<div id="root"><%- appString %></div>
<script>
    window.__INITIAL__STATE__ = <%- initialState %>
</script>
<script type="text/javascript" src="/assets/js/runtime.0c4cd0e42d1c919b0ccb.js"></script><script type="text/javascript" src="/assets/js/vendors.7b5894409c429cc1ceca.js"></script><script type="text/javascript" src="/assets/js/app.7c61005038abb2ff8fff.js"></script></body>
</html>